@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  @apply bg-yellow-50;
}

@responsive {
  .a4 {
    width: 1075px !important;
    height: 1520px !important;
    overflow: hidden;
    padding: 0;
    word-break: break-all;
  }
}
